.block_review {
    max-width: 804px;
}

.block_review p {
    color: #605D74;
    line-height: 20px;

}

.in_block_review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
}

b {
    line-height: 40px;
}

@media (max-width: 500px) {
    .in_block_review h4 {
        font-size: 24px;
    }

}

@media (max-width: 400px) {
    .in_block_review h4 {
        font-size: 20px;
    }

}