
.pBlock{
    padding-top: 60px;


}
.garant {
    width: 180px;
    background-color: #F7F7FC;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;


}
.pBlock_inner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;

}
.pBlock h4 {
    padding-top: 30px;
    margin: 0 auto;
}
.pBlock img {
    width: 100px;
    margin: 0 auto;

}