body {
    box-sizing: border-box;
}

.backet_fspdd1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* height: 83px; */
}


.fspdd1_d {
    display: flex;
    justify-content: space-between;
}


.fsp {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    max-width: 270px;
    line-height: 22px;
    margin-bottom: 18px;
}
@media (max-width: 375px) {
    .fsp{
        font-size: 14px;
    }
}
.fsp_mopt {
    color: #605D74;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    background-color: inherit;
    border: 0;
    padding: 0;
    font-family: "Rubik";
    cursor: pointer;
    margin: 0;
}



.prs {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.prss {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.prs_cals {
    display: flex;
    align-items: center;
    border: 1px solid #D2D1D7;
    border-radius: 6px;
}


.prs_plmn {
    background-color: #D2D1D7;
    border: 0;
    font-size: 18px;
    width: 30px;
    cursor: pointer;
}

.prs_noun {
    width: 20px;
    background-color: inherit;
    /* padding: 3px 16px 4px; */
    padding: 0;
    border: 0;
    max-width: 40px;
    text-align: center;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.prs_noun::-webkit-inner-spin-button,
.prs_noun::-webkit-outer-spin-button {
    appearance: none;
}

.prs_minus {
    border-radius: 5px 0px 0px 5px;
}

.prs_plus {
    border-radius: 0px 5px 5px 0px;
}