.container {
    width: 1150px;
    margin: 0 auto;
}
.spec h2{
    color: #F7F7FC;
    padding-top: 20px;
}
.spec {
    background-color: #2E3C85;
    height: 250px;
}
.ololow img {
    justify-content: space-between;
    display: flex;
}