.container {
    width: 1150px;
    margin: 0 auto;
}
.partnerBlock_inner {
    padding-top: 60px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partnerBlock h2{
    padding-top: 50px;
}
.img{
    margin: 20px;
    width: 80px;
    object-fit: contain;
    /* height: 70px; */
}
.one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    padding-bottom: 60px;

}
.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
}
