.spec h2{
    color: #F7F7FC;
    padding-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 425px) {
    .spec h2{
        font-size: 20px;
    }
}
.spec {
    background-color: #2E3C85;
    height: 250px;
    /* height: 250px; */
    padding: 20px 0 0 40px;
}
.ololow img {
    justify-content: space-between;
    display: flex;
}
.swiper{
    margin-left: 80px;
    /* width: 400px ; */
    /* margin: 0 auto; */
}
@media (max-width: 768px) {
    .slide img{
        width: 250px;
        background: #000;
    }
    .swiper{
        margin-left: 40px;
    }
}
@media (max-width: 565px) {
    .slide img{
        width: 200px;
        background: #000;
    }
    
}
@media (max-width: 480px) {
    .swiper{
        margin-left: 20px;
    }
}
@media (max-width: 360px) {
    .swiper{
        margin-left: 12px;
    }
}
@media (max-width: 480px) {
    .slide img{
        width: 150px;
        background: #000;
    }
} 