@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}
.container{
    width: 1195px;
    margin: 0 auto;
}
@media (max-width: 1195px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }
}