.inner{
    max-width: 1100px;
    margin: 0 auto !important;
    margin: 54px 0 50px;
}
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.header {
    margin: 0px 80px 46px;
}

.link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.015em;
    color: #000;
    text-decoration: none;
}
.link::after{
    content: url('../../picture/arrow.svg');
    margin-left: 10px;
}